<div class="split-pane-flow full-height">
  <div class="split-pane-left full-height">
    <div class="split-flex-wrapper">

      <a ui-sref="login" class="">Mural</a>
      <div class="login-form animated" ng-class="{'shake': ctrl.formError}">
        <form name="loginFrm" novalidate="novalidate" ng-submit="ctrl.doLogin();">
          <div class="form-group">
            <label for="username">Your username</label>
            <input type="text" class="form-control input-lg" id="username" placeholder="Username"
              ng-model="ctrl.username"
              ng-minlength="3"
              ng-maxlength="30"
              required>
          </div>
          <div class="login-form-submit text-center">
            <button type="submit" class="btn btn-lg btn-success" ng-disabled="loginFrm.$invalid">
              <span class="glyphicon glyphicon-refresh animated infinite rotateIn" ng-show="ctrl.isLoading"></span>
              Sign in
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
  <div class="split-pane-right full-height visible-lg-block">
    <div class="split-flex-wrapper">

    </div>
  </div>
</div>
