<div class="header">
  <div class="container">
    <h1>Ahoi!</h1>
    <p class="lead">
      This is the main view.
    </p>
  </div>
</div>

<div class="content">
  <div class="container">

    <div class="list-item" ng-repeat="post in ctrl.posts">
      <div class="list-item-heading">
        <h3 class="list-item-title">{{post.title}}</h3>
        Poste by <strong class="text-primary">{{"user " +post.userId}}</strong>
      </div>
      <div class="list-item-body">
        {{post.body}}
      </div>
      <div class="list-item-footer text-right">
        <button class="btn btn-primary btn-sm" ui-sref="post({id: post.id})"><span class="glyphicon glyphicon-comment"></span> Show comments</button>
      </div>
    </div>

  </div>
</div>
