<!-- <div class="header">
  <div class="container">
    <h1>Ahoi!</h1>
    <p class="lead">
      This is the main view.
    </p>
  </div>
</div> -->

<div class="content">

    <div class="list-view">
      <div class="list-item" ng-repeat="post in ctrl.posts">
        <div class="list-item-heading">
          <div class="row">
            <div class="col-xs-1">
              <img src="http://placehold.it/100x100" ng-alt="{{post.userId}}" class="img-circle" width="100%">
            </div>
            <div class="col-xs-11">
              Posted by <strong class="text-primary">{{"user " +post.userId}}</strong>
              <h3 class="list-item-title">{{post.title}}</h3>
            </div>
          </div>
        </div>
        <div class="list-item-body">
          <div class="row">
            <div class="col-xs-11 col-xs-offset-1">
              {{post.body}}
            </div>
          </div>
        </div>
        <div class="list-item-footer">
          <div class="row">
            <div class="col-xs-6">
              <span class="text-muted">30 comments</span>
            </div>
            <div class="col-xs-6 text-right">
              <button class="btn btn-primary btn-sm" ui-sref="post({id: post.id})">Show comments</button>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
